    body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    color: #da7e7e;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

.room {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.guest {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.guest-status {
    font-weight: bold;
    color: #ff0000;
}

